#sidebar {
  background: #5A7B9C;
}

#postamble {
  background:#003366;
  border-top:solid 10px #5A7B9C;
}

.title {
  text-align: center;
  color: #003366;
}

.subtitle {
  color: #003366;
}

h1, h2, h3, h4, h5, h6, legend {
  color: #5A7B9C;
}

#content h2 {
    background-color: #003366;
    color: white;
}

/*
#content h2 {
background: url("../logo/clb.png");
}
*/
